*.pyc
.*.swp
.ropeproject/
.rviz/persistent_settings
.vim/.netrwhist
.vim/bundle/.vundle/
.vim/bundle/Vundle.vim/doc/tags
.vim/bundle/YouCompleteMe/
.vim/bundle/ctrlp.vim/
.vim/bundle/python-mode/
.vim/bundle/restore_view.vim/
.vim/bundle/syntastic/
.vim/bundle/ultisnips/
.vim/bundle/vim-abolish/
.vim/bundle/vim-airline/
.vim/bundle/vim-argumentative/
.vim/bundle/vim-autoformat/
.vim/bundle/vim-clang-format/
.vim/bundle/vim-commentary/
.vim/bundle/vim-cpp-enhanced-highlight/
.vim/bundle/vim-easymotion/
.vim/bundle/vim-easytags/
.vim/bundle/vim-fontsize/
.vim/bundle/vim-fugitive/
.vim/bundle/vim-misc/
.vim/bundle/vim-operator-user/
.vim/bundle/vim-sensible/
.vim/bundle/vim-smartword/
.vim/bundle/vim-snippets/
.vim/sessions/
.vim/spell/en.utf-8.add.spl
.vim/tags
.vim/view/
bin/matlab
bin/mex
watchman/.deps/
watchman/Makefile
watchman/Makefile.in
watchman/aclocal.m4
watchman/autom4te.cache/
watchman/cmds/.deps/
watchman/cmds/.dirstamp
watchman/compile
watchman/config.guess
watchman/config.h
watchman/config.h.in
watchman/config.log
watchman/config.status
watchman/config.sub
watchman/configure
watchman/depcomp
watchman/files
watchman/install-sh
watchman/missing
watchman/query/.deps/
watchman/query/.dirstamp
watchman/stamp-h1
watchman/tests/.deps/
watchman/tests/.dirstamp
watchman/thirdparty/.deps/
watchman/thirdparty/.dirstamp
watchman/thirdparty/jansson/.deps/
watchman/thirdparty/jansson/.dirstamp
watchman/thirdparty/jansson/jansson_config.h
watchman/watcher/.deps/
watchman/watcher/.dirstamp
tmux-1.8
