*.pyc
.*.swp
.cache/
.gitconfig
.ropeproject/
.rviz/persistent_settings
bin/matlab
bin/mex
config/Slack/
config/Trolltech.conf
config/autostart/
config/chromium/
config/compiz-1/
config/google-chrome/
config/gtk-2.0/
config/gtk-3.0/
config/htop/
config/ibus/
config/ipython/
config/libaccounts-glib/
config/libreoffice/
config/lxsession/
config/menus/
config/nautilus/
config/pcmanfm/
config/pulse/
config/ros.org/
config/software-center/
config/totem/
config/unity-tweak-tool/
config/unity/
config/update-notifier/
config/user-dirs.dirs
config/user-dirs.locale
config/vlc/
tmux-1.8
vim/.netrwhist
vim/bundle
vim/sessions/
vim/spell/en.utf-8.add.spl
vim/spell/en.utf-8.spl
vim/spell/en.utf-8.sug
vim/tags
vim/view/
watchman/.deps/
watchman/Makefile
watchman/Makefile.in
watchman/aclocal.m4
watchman/autom4te.cache/
watchman/cmds/.deps/
watchman/cmds/.dirstamp
watchman/compile
watchman/config.guess
watchman/config.h
watchman/config.h.in
watchman/config.log
watchman/config.status
watchman/config.sub
watchman/configure
watchman/depcomp
watchman/files
watchman/install-sh
watchman/missing
watchman/query/.deps/
watchman/query/.dirstamp
watchman/stamp-h1
watchman/tests/.deps/
watchman/tests/.dirstamp
watchman/thirdparty/.deps/
watchman/thirdparty/.dirstamp
watchman/thirdparty/jansson/.deps/
watchman/thirdparty/jansson/.dirstamp
watchman/thirdparty/jansson/jansson_config.h
watchman/watcher/.deps/
watchman/watcher/.dirstamp
xterm.ti
