*.pyc
watchman/.deps/
watchman/Makefile
watchman/Makefile.in
watchman/aclocal.m4
watchman/autom4te.cache/
watchman/cmds/.deps/
watchman/cmds/.dirstamp
watchman/compile
watchman/config.guess
watchman/config.h
watchman/config.h.in
watchman/config.log
watchman/config.status
watchman/config.sub
watchman/configure
watchman/depcomp
watchman/files
watchman/install-sh
watchman/missing
watchman/query/.deps/
watchman/query/.dirstamp
watchman/stamp-h1
watchman/tests/.deps/
watchman/tests/.dirstamp
watchman/thirdparty/.deps/
watchman/thirdparty/.dirstamp
watchman/thirdparty/jansson/.deps/
watchman/thirdparty/jansson/.dirstamp
watchman/thirdparty/jansson/jansson_config.h
watchman/watcher/.deps/
watchman/watcher/.dirstamp
